html{
  background-color: black; 
}

#allGrid{
  font-family:"Delius Swash Caps";
  grid-template-columns: repeat(12,1fr); 
  display: grid; 
}

.delius-swash-caps-regular {
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}

#mainImg{
  grid-column: span 12; 
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  width: 50%;
}

.center{
  display:block; 
  margin-left: auto; 
  margin-right: auto; 
  width: 95%; 
}

header{
  grid-column: span 12; 
  padding: 10px; 
  color:white; 
}

nav{
  grid-column: span 12; 
  margin-left: auto; 
  margin-right: auto;
  padding: 5px;
  font-size:normal; 
}

nav ul{
  list-style-type: none; 
  margin: 0px;
  padding: 0px; 
  grid-template-rows: 1fr 1fr 1fr;   
}

nav li{
  grid-column: span 12;
  display: inline-block; 
  padding: 10px; 
  width: 438px; 
  color: black; 
  
}

nav li a{
  background-color:darkgray;
  color: white; 
  text-align: center; 
  font-weight: bold; 
  display: block; 
  text-decoration: none; 
  padding: 20px; 
  border-radius:10px; 
  text-shadow: 2px 2px 2px #000;
  transition: background-color, box-shadow, 1.0s, width 2.0s, color .1s;
  
}

nav li a:hover{
  background-color: hotpink; 
  font-weight:bold; 
  box-shadow: 10px 10px 10px pink;
}

nav li a:visited{
  color:white; 
}

.roundedBox{
  padding: 10px;
  width: 250px;
  border: 2px solid #999;
  background-color: #ccc;
  border-radius: 10px;
}

main{
  grid-column: span 12;
  color: white; 
}

h1 {
  text-align:center; 
  color: white;  
}

.column{
  float: left; 
  width: 30%; 
  margin: 15px; 
}

.row:after{
  content:""; 
  display: table; 
  clear: both; 
  margin: 10px; 
  padding: 10px; 
}

.boxText{
  background-color:darkslateblue; 
  text-align:center; 
  color: white; 
}

